:root{
    --bg1: #2198bd;
    --bg2: #1B7F9D;
    --bg3: #B9E8F3;

    --text: #d8d8d8;
    --highlight: #eeeeee;

    --brighttext: #e2e2e2;
    --brighthighlight: #f8f8f8;

    --darktext: #6a6a6a;
    --darkhighlight: #808080;
}

.container {
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 0;
    background-color: #1B7F9D;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 16px);
    position: relative;
    margin: 8px;
}

.page-main {
    margin-bottom: 14vh;
    padding-bottom: 10px;
    padding-top: 10px;
    flex-grow: 1;
    background-color: var(--bg2);
}

body {
    margin: 0;
}

.Contact {
    position: absolute;
    bottom: 0;
    width: 100%;
}
