.container {
    display: grid;
    grid-template-columns: 23.75vw 23.75vw 23.75vw 23.75vw;
    grid-column-gap: 1vw;
    justify-items: center;
}

@media screen and (max-width:600px) {
    .container {
        grid-template-columns: 33vw, 33vw, 33vw;
    }
}