.cardimg {
  max-width: 20vh;
  border: 5px solid;
  border-image: linear-gradient(45deg, var(--contactbg), var(--containerbg), var(--navbg)) 1;
  margin-bottom: 1vh;
}

h1 {
  text-align: center;
  text-decoration: underline var(--navbg);
  margin: 0;
}
.majdnemmindenis{
  grid-auto-flow: column;
  display: grid;
}