.cardimg {
  max-width: 20vh;
  border: 5px solid;
  border-image: linear-gradient(45deg, var(--bg3), var(--highlight), var(--bg1)) 1;
}

h1 {
  text-align: center;
  text-decoration: underline var(--bg1);
  margin: 0;
}
.mindenis{
  float: right;
  align-items: center;
}