:root {
    --gridSize: 4;
}

.card {
    display: block;
    overflow: hidden;
    aspect-ratio: 0.67 / 1;
    width: calc(90vw / var(--gridSize) - 20px);
}

.card img {
    aspect-ratio: 0.67 / 1;
    width: calc(90vw / var(--gridSize) - 20px);
    transition: filter .65s ease-in-out;
}

.card div {
    transform: translateY(0);
    transition: .65s ease-in-out;
    text-align: center;
    visibility: hidden;
}

.card div p {
    color: white;
    font-size: 2.5vw;
}

.card:hover img {
    filter: blur(5px) brightness(50%);
}

.card:hover div {
    transform: translateY(-22vw);
    visibility: visible;
}


